---
layout: 'default'
isPage: true
order: 2
navTitle: World Map
---

<!-- Sub-navbar start -->
<div class="navbar navbar-inverse no-border">
	<div class="navbar navbar-collapse collapse no-margin no-border">
			<ul id="filters" class="nav navbar-nav subnav">
				<li class="col-sm-2 text-center">
					<a id="filter-participants">Participants</a></li>
				<li class="col-sm-2 text-center">
					<a id="filter-volatility">
						<img src="<%- @site.url %>/images/mapnav_VS.png" alt="">
						Volatility Storms
					</a>
				</li>
				<li class="col-sm-2 text-center">
					<a id="filter-extinct-wild">
						<img src="<%- @site.url %>/images/map_extinctwild.png" alt="">
						Extinct in the Wild
					</a>
				</li>
				<li class="col-sm-2 text-center">
					<a id="filter-case-studies">
						<img src="<%- @site.url %>/images/mapnav_casestudies.png" alt="">
						Case Studies
					</a>
				</li>
				<li class="col-sm-2 text-center">
					<a id="filter-extinct-sites">
						<img src="<%- @site.url %>/images/mapnav_extinctionsites.png" alt="">
						Extinction Sites
					</a>
				</li>
				<li class="col-sm-2 text-center">
					<a id="filter-all" class="active">
						Show All
					</a>
				</li>
			</ul>
	</div>
</div> <!-- /navbar -->



<div id="map" class="custom-popup"></div>
